<div class="columns is-tablet">
    <div class="column is-half is-offset-one-quarter">
      <form [formGroup]="regForm" (ngSubmit)="onSubmit()">
      <div class="field">
        <label class="label">Name</label>
        <div class="control ">
          <input 
            formControlName="username" 
            [ngClass]="username.invalid && username.touched ? 'input is-danger' : 'input'"
            type="text" 
            placeholder="Name">
          <div *ngIf="username.invalid && username.touched">
            <div *ngIf="username.errors?.required" class="help is-danger">Name is required</div>
            <div *ngIf="username.errors?.pattern" class="help is-danger">Please provide a valid name (letters and numbers only)</div>
            <div *ngIf="username.errors?.minlength" class="help is-danger">Name must be at least 3 characters</div>
            <div *ngIf="username.errors?.maxlength" class="help is-danger">Name can not be longer than 50 characters</div>
          </div>
          <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
          </span>
          <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
          </span>
        </div>
      </div>
      <div class="field">
        <label class="label">Email</label>
        <div class="control ">
          <input 
            formControlName="email" 
            [ngClass]="email.invalid && email.touched ? 'input is-danger' : 'input'"
            type="email" 
            placeholder="Email">
          <div *ngIf="email.invalid && email.touched">
            <div *ngIf="email.errors?.required" class="help is-danger">Email address is required</div>
            <div *ngIf="email.errors?.maxlength" class="help is-danger">Email address should not be longer than 50 characters</div>
            <div *ngIf="email.errors?.pattern" class="help is-danger">Please provide a valid email address</div>
          </div>
          <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
          <i class="fas fa-exclamation-triangle"></i>
          </span>
        </div>
      </div>
      <div class="field">
        <label class="label">Password</label>
        <div class="control ">
          <input 
            formControlName="password" 
            [ngClass]="(password.invalid && password.touched) ? 'input is-danger' : 'input'"
            type="password" 
            placeholder="Password">
          <div *ngIf="password.invalid && password.touched">
            <div *ngIf="password.errors?.required" class="help is-danger">Password is required</div>
            <div *ngIf="password.errors?.pattern" class="help is-danger">
              Password must be 8 characters or more, 
                with at least 1 uppercase letter, 1 number and 1 special character (!@#$%&*()-+=^)
            </div>
          </div>
          <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
          <i class="fas fa-exclamation-triangle"></i>
          </span>
        </div>
      </div>
      <div class="field">
        <label class="label">Confirm Password</label>
        <div class="control ">
          <input 
            formControlName="passwordConfirm" 
            [ngClass]="(passwordConfirm.invalid && passwordConfirm.touched) ? 'input is-danger' : 'input'"
            type="password" 
            placeholder="Confirm Password">
          <div *ngIf="passwordConfirm.invalid && passwordConfirm.touched">
            <div *ngIf="passwordConfirm.errors?.required" class="help is-danger">Password confirmation is required</div>
            <div *ngIf="passwordConfirm.errors?.passwordsDontMatch" class="help is-danger">Passwords must be identical</div>
          </div>
          {{ regForm.errors?.passwordsDontMatch | json }}
          <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
          <i class="fas fa-exclamation-triangle"></i>
          </span>
        </div>
      </div>
      <div 
          *ngIf="regForm.errors && passwordConfirm.touched && password.touched" 
          class="notification is-danger is-light"
      >
        <p *ngIf="regForm.errors.unknown">
          Unknown error: Please try again later
        </p>
      </div>
      <div class="mt-6 has-text-centered">
          <button 
            [ngClass]="isSubmitting ? 'button is-warning is-loading' : 'button is-warning'" 
            [disabled]="regForm.invalid || isSubmitting" 
            type="submit"
          >
            Register
          </button>
      </div>
    </form>
    </div>
</div>
