<div class="columns is-tablet">
    <div class="column is-half is-offset-one-quarter">
      <div class="field">
        <label class="label">Name</label>
        <div class="control ">
          <input class="input " type="text" placeholder="Name">
          <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
          </span>
          <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
          </span>
        </div>
      </div>
      <div class="field">
        <label class="label">Email</label>
        <div class="control ">
          <input class="input " type="email" placeholder="Email">
          <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
          <i class="fas fa-exclamation-triangle"></i>
          </span>
        </div>
      </div>
      <div class="field">
        <label class="label">Password</label>
        <div class="control ">
          <input class="input " type="password" placeholder="Password">
          <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
          <i class="fas fa-exclamation-triangle"></i>
          </span>
        </div>
      </div>
      <div class="field">
        <label class="label">Confirm Password</label>
        <div class="control ">
          <input class="input " type="password" placeholder="Confirm Password">
          <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
          <i class="fas fa-exclamation-triangle"></i>
          </span>
        </div>
      </div>
      <div class="field pt-3">
        <div class="control">
          <label class="checkbox">
          <input type="checkbox">
          I agree to the <a href="#">terms and conditions</a>
          </label>
        </div>
      </div>
      <div class="field is-grouped pt-5">
        <div class="control">
          <button class="button is-warning submit">Register</button>
        </div>
      </div>
    </div>
  </div>
