<nav class="navbar is-dark mb-6" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a href="/" class="navbar-item is-size-4">
        Photo Club
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          Home
        </a>

        <a class="navbar-item">
          Events
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item">
              About
            </a>
            <a class="navbar-item">
              Link
            </a>
            <a class="navbar-item">
              Another Link
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Report an issue
            </a>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <ng-container *ngIf="signedIn$ | async">
            <div class="mr-4">
                Hi, username!
            </div>
            <a class="button is-primary" routerLink="/logout" routerLinkActive="active">
                Log Out
            </a>
          </ng-container>
          <ng-container *ngIf="!(signedIn$ | async)">
            <a class="button is-light mr-4" routerLink="/login" routerLinkActive="active">
                Log In
            </a>
            <a class="button is-primary" routerLink="/register" routerLinkActive="active">
                Register
            </a>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</nav>
