<a href='/'>
    <button class="btn btn-secondary btn-sm mb-5">Go Back</button>
</a>

<div *ngFor="let event of (event$ | async)" class="d-flex">
    <div class="mr-5">
        <img src={{event.image.formats.thumbnail.url}} alt="" />
    </div>
    <div>
        <div class="mb-3">
            <h5>{{event.name}}</h5>
        </div>
        <p>{{event.date | date}} at {{event.time}}</p>
        <p>Meeting at: {{event.location}}</p>
        <p>{{event.description}}</p>
        <p>Confirmed Attendees: {{event.attendees.length}}</p>
    </div>
</div>
